.element-item__delete {
  width: 18px;
  height: 19px;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url(../../../images/Group.svg);
  background-color: unset;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
}

.element-item__delete:hover {
  opacity: 0.5;
}
