.header__link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 25px;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .header__link {
    height: 17px;
    font-size: 14px;
    line-height: 17px;
  }
}
