.header__email {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin: 0;
  margin-right: 24px;
  height: 25px;
}

@media screen and (max-width: 500px) {
  .header__email {
    height: 17px;
    font-size: 14px;
    line-height: 17px;
  }
}
